@model Blog.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<section>
    <h2>Вход</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="col-6 col-12-small">
                    <br />
                    @*<input type="checkbox" asp-for="RememberMe" />
                        <label for="RememberMe">
                            @Html.DisplayNameFor(model => model.RememberMe)
                        </label>*@
                </div>
                <div class="form-group">
                    <input type="submit" value="Войти" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        Еще нет аккаунта? <a asp-area="" asp-controller="Account" asp-action="Register">Зарегистрироваться</a>
    </div>
</section>
