@model Blog.Models.ViewComponents.Information

<ul>
    <li><a>Количество пользователей: @Model.usersCount</a></li>
    <li><a>Количество статей: @Model.articlesCount</a></li>
    <li><a>Количество комментариев: @Model.commentsCount</a></li>
</ul>