@model Blog.Models.ViewComponents.Information

<ul>
    <li><a>Количество пользователей: @Model.UsersCount</a></li>
    <li><a>Количество статей: @Model.ArticlesCount</a></li>
    <li><a>Количество комментариев: @Model.CommentsCount</a></li>
</ul>