@model IQueryable<Article>

@{
    ViewData["Title"] = "Главная";
}


<section>
    <div class="posts">
        @if (Model != null)
        {
            @foreach (Article article in Model)
            {
                <article>
                    <a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="image"><img src="~/images/@article.ImagePath" alt="" height="310" /></a>
                    <h2>@article.Title</h2>
                    @*@Html.Raw(article.Text)*@
                    <ul class="actions">
                        <li><a asp-area="" asp-controller="Blog" asp-action="Show" asp-route-id="@article.Id" class="button">Подробнее</a></li>
                    </ul>
                </article>
            }
        }
    </div>
</section>