<!DOCTYPE HTML>

<html>
<head>
    @await Html.PartialAsync("MetatagsPartial")
    @await Html.PartialAsync("CssPartial")
    <!-- css -->
    
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                @await Html.PartialAsync("HeaderPartial")

                <!-- Content -->
                @*<section>*@

                @RenderBody()

                @*</section>*@

            </div>
        </div>

        <!-- Sidebar -->
        @await Html.PartialAsync("SidebarPartial")

    </div>

    <!-- Scripts -->
    @await Html.PartialAsync("ScriptsPartial")

    <script src="~/js/timechange.js"></script>
</body>
</html>