@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<div id="sidebar">
    <div class="inner">

        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Поиск" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Меню</h2>
            </header>
            <ul>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Login">Вход</a></li>
                    <li><a asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a></li>
                }
                <li><a href="/">Главная</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a href="#">Профиль</a></li>

                    <li>
                        <span class="opener">Мой блог</span>
                        <ul>
                            <li><a href="#">Мои статьи</a></li>
                            <li><a asp-area="" asp-controller="Blog" asp-action="Edit">Добавить</a></li>
                        </ul>
                    </li>
                }
                <li><a href="#">Новое</a></li>

                <li><a href="#">Популярное</a></li>
                <li><a href="#">Новости</a></li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li><a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a></li>
                }
            </ul>
        </nav>

        <!-- Section -->
        @*<section>
                <header class="major">
                    <h2>Get in touch</h2>
                </header>
                <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
                <ul class="contact">
                    <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                    <li class="icon solid fa-phone">(000) 000-0000</li>
                    <li class="icon solid fa-home">
                        1234 Somewhere Road #8254<br />
                        Nashville, TN 00000-0000
                    </li>
                </ul>
            </section>*@

        <!-- Footer -->
        @await Html.PartialAsync("FooterPartial")

    </div>
</div>