@model Article
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["title"];
}


<div class="row">
    <div class="col-3 col-12-small"></div>
    <div class="col-6 col-12-small">
        <h1></h1>
        <h2>@localizer["q1"] "@Model.Title"?</h2>
        <h2> @localizer["q2"]</h2>
        <form asp-controller="Blog" asp-action="Delete" method="post">
            <div class="form-group">
                <input type="submit" class="btn btn-default" value="@localizer["action"]" />
            </div>
        </form>
    </div>
    <div class="col-3 col-12-small"></div>
</div>

